.header {
    padding: 24.5px 0 15px 0;
    margin-bottom: 15px;
    background-color:#FFFFFF;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 902;
    @media (max-width:1150px) {
        padding: 15px 0 15px 0;
    }
    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width:1150px) {
            display: none;
        }
    }
}
.nav {
    &__inner {
        display: flex;
        gap: 62px;
    }
    &__item {
        &:nth-child(3){
            background: linear-gradient(135deg, #FF7324 14.84%, #EE3B28 35.81%, #DA1500 51.16%, #EE3B28 67.63%, #FEA14A 86.72%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }
        &::before{
            position: absolute;
            content: '';
            width: 100%;
            height: 5px;
            bottom: 0;
            left: 0;
            transform: translateY(40px);
            transition: transform 0.3s cubic-bezier(0.22, 1, 0.36, 1);
            background-color: #000000;
            visibility: hidden;
        }
        &:hover{
            position: relative;
            .nav__link{
                color: #f03d3d;
            }
            &::before{
                position: absolute;
                content: '';
                width: 100%;
                height: 5px;
                bottom: 0;
                left: 0;
                transform: translateY(25px);
                background-color: #000000;
                border-top-left-radius: 6px;
                border-top-right-radius: 6px;
                visibility: visible;
            }
        }
    }
    &__link {
        font-weight: 500;
        font-size: 16px;
        line-height: 21px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #0A0A0A;
        transition: color 0.3s cubic-bezier(0.22, 1, 0.36, 1);
    }
}
.login {
    &__box {
    }
    &__inner {
        display: flex;
        align-items: center;
        gap: 8px;
    }
    &__item {
    }
    &__link {
        padding: 10px;
    }
    &__img {
    }
}
.glasses {
    &-text {
        font-weight: 400;
        font-size: 13px;
        line-height: 17px;
        color: #888888;
    }
    &-img{
        margin-bottom: 17px;
    }
    &__box {
        margin-bottom: 18px;
        @media (max-width:550px) {
            overflow: hidden;
        }
    }
    &__inner {
        display: flex;
        justify-content: center;
        gap: 80px;
        @media (max-width:1150px) {
            gap: 30px;
        }
        @media (max-width:550px) {
            justify-content: flex-start;
        }
    }
    &__item{
        @media (max-width:550px) {
            min-width: 70px;
            width: 100%;
        }
    }
    &__link {
        text-align: center;
        &:hover{
            text-decoration: underline;
        }
    }
}
.banner {
    &__box {
        background-image: url('../img/bg-catalog.png');
        background-repeat: no-repeat;
        background-position: 50% 104%;
        margin-bottom: 56px;
        @media (max-width:800px) {
            background-image: url('../img/mobile-catalog-bg.png');
            background-size: 100% 102%;
            background-position: 50% 0%;
            background-color: #000000;
        }
        @media (max-width: 340px) {
            background-size: 100% 80%;
        }
        &-container{
            padding: 118px 95px 148px 95px;
            @media (max-width:800px) {
                padding: 399px 95px 156px 95px;
            }
            @media (max-width:5500px) {
                padding: 255px 87px 50px 0px;
            }
        }
    }
    &__about {
        color: #FFFFFF;
        font-weight: 400;
        margin-bottom: 40px;
    }
    &__new {
        display: inline-block;
        padding: 4px 8px;
        background-color: #009AFF;
        font-size: 15px;
        line-height: 20px;
        text-transform: uppercase;
    }
    &__title {
        font-size: 40px;
        line-height: 52px;
        letter-spacing: 0.2em;
        @media (max-width:1150px) {
            font-size: 35px;
            line-height: 47px;
        }
        @media (max-width:400px) {
            font-size: 30px;
            line-height: 42px;
        }
    }
    &__text {
        font-size: 16px;
        line-height: 21px;
        color: #009AFF;
    }
    &__price {
        &-text {
            font-weight: 700;
            font-size: 24px;
            line-height: 31px;
            color: #FFFFFF;
            margin-bottom: 24px;
        }
    }
}
.celebs {
    margin-bottom: 54px;
    overflow: hidden;
    padding-bottom: 20px;
    &-block {
        background-color: white;
        position: relative;
        border-radius: 6px;
        cursor: pointer;
        transition: box-shadow 0.6s cubic-bezier(0.22, 1, 0.36, 1);
        @media (max-width:1150px) {
            min-width: 358px;
        }
        @media (max-width:400px) {
            min-width: 320px;
        }
        &:nth-child(2){
            .celebs__name-text{
                color: #0A0A0A;
            }
        }
        &:hover{
            -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
            -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
            box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
            .celebs-glasses__img{
                transform: translateY(-10px)
            }
        }
    }
    &__box {
        display: flex;
        gap: 23px;
    }
    &__picture {
        margin-bottom: 78px;
        position: relative;
    }
    &-glasses__img{
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        transition: transform 0.6s cubic-bezier(0.16, 1, 0.3, 1);
        @media (max-width:1150px) {
            bottom: 40px;
        }
    }
    &__name {
        &-text {
            position: absolute;
            top: 24px;
            margin: auto;
            left: 0;
            right: 0;
            text-align: center;
            z-index: 1;
            font-weight: 500;
            font-size: 18px;
            line-height: 23px;
            text-align: center;
            letter-spacing: 0.2em;
            color: #FFFFFF;
            @media (max-width:1150px) {
                font-size: 15px;
                line-height: 20px;
            }
        }
    }
    &__glasses {
        padding: 0 30px 26px 30px;
        &-title {
            font-weight: 400;
            font-size: 24px;
            line-height: 31px;
            letter-spacing: 0.2em;
            color: #0A0A0A;
            margin: 4px 0 8px;
        }
        &-price {
            margin-top: 24px;
            text-align: right;
            font-weight: 700;
            font-size: 24px;
            line-height: 31px;
            letter-spacing: 0.04em;
            color: #0A0A0A;
        }
    }
}
.size {
    background: url('../img/size-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 85px;
    @media (max-width:800px) {
        background: url('../img/mobile-size-bg.png');
        background-position: 28% 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    &-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        letter-spacing: 0.1em;
        color: #888888;
    }
    &-title {
        font-weight: 400;
        font-size: 40px;
        line-height: 52px;
        letter-spacing: 0.1em;
        color: #0A0A0A;
        margin: 4px 0;
    }
    &__container{
        max-width: 550px;
        width: 100%;
    }
    &__box {
        padding: 0 0 0 115px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width:800px) {
            flex-direction: column;
            padding: 47px 0 50px 0;
        }
        &-text {
            margin-bottom: 40px;
        }
        &-btn {
            display: flex;
            align-items: center;
            gap: 59px;
            @media (max-width:550px) {
                gap: 16px;
            }
        }
        &-l,
        &-s {
            width: 100%;
            .size-text{
                margin-bottom: 7px;
            }
        }
        
    }
}
.stories {
    margin-bottom: 83px;
    &-title {
        font-weight: 400;
        font-size: 40px;
        line-height: 100%;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #000000;
        @media (max-width:550px) {
            font-size: 24px;
        }
    }
    &-link{
        @media (max-width: 340px) {
            display: none;
        }
        svg{
            margin-left: 9px;
        }
    }
    &-img {
        transition: transform 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    }
    &__box {
        overflow: hidden;
        background: linear-gradient(180deg, #F7F7F7 0%, #ABCDD6 100.21%, rgba(171,205,214,0.03) 109%);
        .stories__carousel-text{
            font-weight: 400;
            font-size: 22px;
            line-height: 108%;
            color: #FFFFFF;
            text-align: left;
            max-width: none;
        }
    }
    &__text {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 41.5px;
    }
    &__carousel {
        display: flex;
        gap: 25px;
        &-title{
            position: absolute;
            bottom: 33%;
            left: 35%;
            font-weight: 400;
            font-size: 20px;
            line-height: 26px;
            text-align: center;
            letter-spacing: 0.2em;
            text-transform: uppercase;
            color: #FFFFFF;
        }
        &-item {
            cursor: pointer;
            min-width: 368px;
            width: 100%;
            position: relative;
            overflow: hidden;
            border-radius: 6px;
            @media (max-width:550px) {
                min-width: 320px;
            }
            &:hover{
                .stories-img{
                    transform: scale(1.1);
                }
                .solutions-img{
                    transform: scale(1.1);
                }
            }
        }
        &-text {
            max-width: 260px;
            font-weight: 400;
            font-size: 16px;
            line-height: 21px;
            text-align: center;
            letter-spacing: 0.04em;
            color: #FFFFFF;
            position: absolute;
            bottom: 40px;
            left: 10%;
        }
    }
}
.solution {
    &-img {
        width: 100%;
        background: url('../img/backgroung-img-stories.png');
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        padding: 292px 0 304px 0;
        @media (max-width:1150px) {
            padding: 127px 0 174px 0;
        }
        @media (max-width:800px) {
            padding: 72px 0 87px 0;
        }
        @media (max-width:550px) {
            padding: 29px 0 46px 0;
        }
        @media (max-width: 340px) {
            padding: 14px 0 14px 0;
        }
    }
    &-text {
        font-weight: 400;
        font-size: 60px;
        line-height: 100%;
        text-align: center;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #FFFFFF;
        @media (max-width:550px) {
            font-size: 35px;
        }
    }
    &-types{
        overflow: hidden;
        background-color: #000000;
        padding-bottom: 56px;
        .stories__carousel-item{
            min-width: 310px;
        }
    }
}
.featured {
    margin-bottom: 80px;
    &-title {
        font-weight: 500;
        font-size: 24px;
        line-height: 100%;
        text-align: center;
        letter-spacing: 0.5em;
        text-transform: uppercase;
        color: #000000;
        margin-bottom: 13px;
    }
    &-img {
        cursor: pointer;
        transition: opacity 0.6s cubic-bezier(0.22, 1, 0.36, 1);
        &:nth-child(even){
            mix-blend-mode: difference;
        }
        &:nth-child(5){
            mix-blend-mode: difference;
        }
        &:hover{
            opacity: 0.5;
        }
    }
    &__box {
        &-img {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            gap: 40px;
            @media (max-width:1150px) {
                gap: 23px;
            }
        }
    }
}
.join {
    background: url('../img/form-bg.png');
    background-color: #0A0A0A;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 48px 0 56px 0;
    &-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: #FFFFFF;
        opacity: 0.4;
        margin-bottom: 8px;
    }
    &-title {
        font-weight: 400;
        font-size: 32px;
        line-height: 36px;
        color: #FFFFFF;
        @media (max-width: 340px) {
            font-size: 18px;
            line-height: 23px;
        }
    }
    &-input {
        max-width: 338px;
        width: 100%;
        padding: 12px 8px 12px 12px;
        background: transparent;
        border: 1px solid #a0a0a0;
        background: rgba(0,0,0,0);
        border-radius: 6px;
        color: #FFFFFF;
        outline: none;
        @media (max-width:550px) {
            max-width: 214px;
        }
        @media (max-width: 340px) {
            max-width: 180px;
        }
    }
    &-submit {
        cursor: pointer;
        padding: 12px;
        font-weight: 500;
        font-size: 16px;
        line-height: 21px;
        text-align: center;
        letter-spacing: 0.04em;
        color: #0A0A0A;
        background: #FFFFFF;
        border-radius: 4px;
        border: none;
        svg{
            margin-left: 14px;
            transition: transform 0.3s cubic-bezier(0.22, 1, 0.36, 1);
        }
        &:hover{
            svg{
                transform: translateX(5px);
            }
        }
    }
    &-checkbox {
        display: none;
        &__box{
            position: relative;
            display: inline-block;
            margin-top: 8px;
            margin-left: 24px;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            color: #FFFFFF;
            .join-checkbox:checked + .custom-checkbox{
                background-image: url('../img/checkbox-checked.svg');
                background-position: center;
                background-repeat: no-repeat;
            } 
        }
    }
    &__box {
        display: flex;
        justify-content: center;
        gap: 55px;
        align-items: center;
        @media (max-width:1150px) {
            flex-direction: column;
            gap: 25px;
        }
        &-text {
            max-width: 635px;
        }
    }
    &__text {
        &-underline {
            text-decoration: underline;
        }
    }
}
.footer {
    padding: 37px 0 40px 0;
    background-color: #000000;
    color: #FFFFFF;
    &__nav {
        display: flex;
        gap: 8%;
        margin-bottom: 58px;
        @media (max-width:800px) {
            flex-direction: column;
        }
    }
    &__column {
        @media (max-width:800px) {
            position: relative;
            padding: 16px 0 16px 0;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            &:nth-child(1),&:nth-child(2){
                &::after{
                    content: '>';
                    position: absolute;
                    right: 0;
                    top: 20px;
                }
            }
        }
        &-title {
            margin-bottom: 18px;
            font-weight: 500;
            font-size: 22px;
            line-height: 29px;
            @media (max-width:800px) {
                margin-bottom: 8px;
            }
        }
        &-text{
            display: contents;
        }
        &-block{
            @media (max-width:800px) {
                display: none;
            }
        }
        &-link{
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #E0E0E0;
            margin-bottom: 4px;
            transition: color 0.3s cubic-bezier(0.22, 1, 0.36, 1);
            @media (max-width:550px) {
                font-size: 12px;
            }
            @media (max-width: 340px) {
                font-size: 10px;
            }
            &:hover{
                color: #f03d3d;
            }
        }
        &-support {
            background: linear-gradient(90deg, #E1A4E6 0%, #249DFD 50.78%, #A7EF50 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }
        &-payment {
            display: flex;
            flex-wrap: wrap;
            gap: 6px;
        }
    }
    &__social {
        &-box {
            display: flex;
            align-items: center;
            gap: 9px;
            @media (max-width:800px) {
                gap: 25px;
            }
        }
    }
    &__payment {
        &-link {
            display: flex;
            max-width: 66.1px;
            width: 100%;
            padding: 8px 0;
            background: #FFFFFF;
            border: 0.5px solid #CCCCCC;
            border-radius: 4px;
        }
    }
    &__bottom {
        &-block {
            display: flex;
            align-items: center;
            gap: 35px;
        }
        &-nav{
            @media (max-width:800px) {
                margin-top: 15px;
            }
        }
        &-text {
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            color: #E0E0E0;
            @media (max-width:800px) {
                text-align: center;
            }
            @media (max-width: 340px) {
                font-size: 10px;
            }
        }
    }
    &__logo {
        &-box {
            margin-bottom: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            @media (max-width:800px) {
                flex-direction: column;
            }
        }
    }
}
.solutions-img{
    transition: transform 0.6s cubic-bezier(0.22, 1, 0.36, 1);
}
.payment-logo{
    margin: auto;
}
.burger {
    &__box {
        display: none;
        align-items: center;
        justify-content: space-between;
        @media (max-width: 1150px) {
            display: flex;
        }
    }
    &__login {
        display: flex;
        align-items: center;
        gap: 20px;
        &-search {
        }
        &-bucket {
        }
    }
}
.burger {
    &__menu {
        position: relative;
    }
}
.mobile-nav {
    &__box {
        position: fixed;
        max-width: 400px;
        width: 100%;
        top: 75px;
        left: 15px;
        z-index: 111;
        background-color: #FFFFFF;
        @media (max-width:800px) {
            max-width: none;
            top: 65px;
            left: 0px;
        }
    }
    &__item {
        padding: 20px;
        border-bottom: 1px solid #e0e0e0;
    }
    &__link {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
