body {
  background: #F6F6F6;
}

.container {
  max-width: 1344px;
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

.naked-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 16px;
  background-color: #ffffff;
  border: none;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.1em;
  color: #0A0A0A;
  max-width: 245.39px;
  width: 100%;
}

.naked-btn svg {
  transition: transform 0.3s cubic-bezier(0.16, 1, 0.3, 1);
}

.naked-btn:hover svg {
  transform: translateX(5px);
}

.custom-checkbox {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: -24px;
  width: 16px;
  height: 16px;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
}
